
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
     xsi:schemaLocation="
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	 http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
>

	<dubbo:application name="dubbo-demo-business"  />
	<!-- <dubbo:registry address="multicast://224.5.6.7:1234?unicast=false" />-->
	<!--support zk-->
	<!--    <dubbo:registry address="zookeeper://localhost:2181" />-->
	<!--support nacos-->
	<dubbo:registry address="nacos://127.0.0.1:8848"/>
	<dubbo:protocol name="dubbo" port="20884" />



	 <import resource="classpath:dubbo-business-consumer.xml" />
</beans>



